@charset "utf-8";
/* CSS Document */

html {
	background: #fff;
}

body {
	width: 95%;
	max-width: 1000px;
	margin: auto;
	background:#FEFFFD;
	font-size: 1em;
	color: #222;
}

a {
	text-decoration:none;
}
a:link, a:visted{
	color:#762a62;
}
a:hover, a:active{
	color:#DF33B2;
}
nav {
	background:#762a62;
}
nav ul{
	list-style-type: none;
	text-decoration: none;
	display: inline-flex;
	margin: 0;
	padding: 0;
}
nav li{
		margin: auto;
	padding: 10px 3vw 10px 5px;
}

nav a, p, li {
	font-family: 'Open Sans', sans-serif;
}
nav a:link, nav a:visited {
	color: #e7e7e7;
}
nav a:hover {
	color: #ff69d8;
}
h1 {
	font-family: 'PT Serif', serif;
	font-size: 2em;
	margin: auto;
	margin-top: 15px;
	color: #222;
}
h2 {
	font-family: 'PT Serif', serif;
	font-size: 1.5em;
	margin: auto;
	margin-top: 10px;
	color: #222;
}
h3 {
	font-family: 'open sans', sans-serif;
	font-size: 1.2em;
	margin-right: auto;
}
.list {
	margin-top: 8px;
	margin-bottom: 10px;
}
.topicheader {
	display: inline-block;
	width: 100%;
	margin: 10px auto auto auto;
}
.topicbody {
	display: none;
}
.topicbody li{
	list-style: square;
}

.dropdown {
	position: absolute;
	display: block;
	background: #e7e7e7;
	box-shadow: 2px, 3px, #111;
}
.dropdown li {
	padding: 5px 10px 5px 4px;
}
.dropdown a:link, .dropdown a:visited {
	color: #762a62;
}
.hidden{
	visibility: hidden;
	opacity: 0;
	display: none;
}

@media only screen and ( max-width : 500px ){
	body {
		width: 100%;
	}
	nav, h1, h2, h3, li, p{
		padding-left: 5px;
	}
	nav ul {
		flex-direction: column;
		display: block;
	}
	nav li {
		margin: 0;
		padding: 10px, 0, 10px, 0;
	}
	nav a {
		display: inline-block;
	}
	.dropdown {
		position: relative;
	}
}
